



body {

    
}

img {

    width: 300px;
   
    padding: 30px;


}
.one {

    
    background-color: rgb(113, 113, 154);
    padding-bottom: 50px;


}

.content1 {

    display: flex;
    
}

.header {

    display: flex;
    justify-content: space-between;
   
  
}

.logo {

    font-size: x-large;
    padding: 15px;
    margin-left: 10px;;
    align-items: center;
    color: rgb(210, 217, 224);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.links {

    list-style: none;
    padding: 5px;
}
a {

text-decoration: none;
color: inherit;
padding: 10px;

}

.left {

    display: flex;
    flex-direction: column;
   align-items: center;
   padding: 15px;
   color:rgb(210, 217, 224)
}
h2 {
    
}

.p1 {

    padding-bottom: 200px;
}

.signup {

    background-color: rgb(21, 21, 232);
    color: aliceblue;
    padding: 10px;
    display: flex;
    max-width: 80px;
    max-height: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.two {

background-color: rgb(236, 233, 212);


}


.three {

background-color: rgb(188, 195, 201);
padding: 50px;


}


.four {


    background-color: aliceblue;
    padding: 50px;
    display: flex;
    align-items: center;
}

.header2 {
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
font-size: 25px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}

.content2 {

    display: flex;
  padding: 50px;
}

.quote {

    display: flex;


}


.CTA {

    display: flex;
    padding-right: 50px;

}


.call {

    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





.signupend {

font-size: 15px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}